<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <div class="header-logo">
    <%= link_to("Calendar", "/") %>
    </div>
    <ul class = "header-menus">
        <li>
            <%= link_to("管理してみよう","/tasks") %>
        </li>
    </ul>
</header>
  <body>
    <%= yield %>
  </body>
</html>
